{% extends 'base.html.twig' %}

{% block title %}
	Liste des articles
	{{ parent() }}
{% endblock %}

{% block body %}
	<section class="container mt-4 js-filter-content">
		<h1 class="text-center">Liste de nos articles</h1>

		<div class="row mt-4">
			<div class="col-md-3">
				{% include 'Components/_formSearch.html.twig' with {form: form} only %}
			</div>
			<div class="col-md-9">
				{% include 'Components/_articleList.html.twig' with { articles: articles} only %}
			</div>
		</div>

	</section>
{% endblock %}
