{% extends 'base.html.twig' %}

{% block title %}
	Homepage
	{{ parent() }}
{% endblock %}

{% block body %}
	{% include 'Frontend/Home/_banner.html.twig' %}
	<section class="container mt-4 position-relative">
		<h1 class="text-center">Nos derniers Articles</h1>
		<a href="{{ path('app.articles.index') }}" class="btn btn-primary position-absolute top-0 left-0">Voir les articles</a>
		<div class="blog-list mt-4">
			{% for article in articles %}
				{% include 'Components/_articleCard.html.twig' %}
			{% endfor %}
		</div>
	</section>
{% endblock %}
