<form action="{{ path('admin.users.delete') }}" method="POST" onsubmit="return confirm('Êtes-vous sûr de vouloir surpprimer cet utilisateur ?')">
	<input type="hidden" name="id" value="{{ user.id }}">
	<input type="hidden" name="token" value="{{ csrf_token('delete' ~ user.id) }}">
	<button type="submit" class="btn btn-danger">Supprimer</button>
</form>
